<link rel="stylesheet" href="/css/login.css">
<div class="container">
    <div class="login_box">
        <p class="emoji">&#128525;</p>
        <div>
            <span class="style_box style_box_blue"></span>
            <span class="style_box style_box2 sinup_style_box2"></span>
            <span class="style_box style_box3"></span>
            <span class="style_box style_box4"></span>
        </div>
        <div class="left_box">
            <div class="heading">
                <h1>Welcome to our social media platform!</h1>
                <p> Join us now and let's start connecting...</p>
            </div>
            <img class="img1 sinup_img1" src="/image/lets-go.jpg" alt="">
            <img class="img2" src="/image/girl.png" alt="">
        </div>
        <div class="right_box">
            <h1 class="heading">Sign up Here.</h1>
            <p class="paragraph">Enter your detail below</p>
            <form action="#">
                <div class="userbox">
                    <span>
                        <input type="text" name="firstname" style="width: 45%;">
                        <label for="firstname">First</label>
                    </span>
                    <span>
                        <input type="text" name="lastname" style="width: 45%;">
                        <label for="lastname">Last</label>
                    </span>
                    
                </div>
                <div class="userbox">
                    <input type="email" name="email">
                    <label for="email">Email</label>
                </div>
                <div class="userbox">
                    <input type="password" name="password">
                    <label for="password">Password</label>
                </div>
                <div class="userbox">
                    <input type="password" name="conformpassword">
                    <label for="conformpasswordpassword">Conform-Password</label>
                </div>
                <button class="btn btn-primary">Sign up</button>

            </form>
            <div class="singup_box">
                <p>You have Alredy signup.</p>
                <a href="/user/signin"><button class="btn btn-primary">Sign In</button></a>
            </div>
        </div>
    </div>
</div>