<link rel="stylesheet" href="/css/login.css">
<div class="container">
    <div class="login_box">
        <p class="emoji">&#128525;</p>
        <div>
            <span class="style_box style_box_blue"></span>
            <span class="style_box style_box_blue1 "></span>
            <span class="style_box style_box2"></span>
            <span class="style_box style_box3"></span>
            <span class="style_box style_box4"></span>
        </div>
        <div class="left_box">
            <div class="heading">
                <h1>Enjoy Music With The World Best Music Player...</h1>
                <p>Always connect with Music and Enjoy... </p>
            </div>
            
            <img class="img1" src="/image/music.png" alt="logo">
            <img class="img2" src="/image/monkey1.png" alt="logo">
        </div>
        <div class="right_box">
            <h1 class="heading">Sign in Now.</h1>
            <p class="paragraph">Enter your detail below</p>
            <form action="#">
                <div class="userbox">
                    <input type="email" name="email">
                    <label for="email">Email</label>
                </div>
                <div class="userbox">
                    <input type="password" name="password">
                    <label for="password">Password</label>
                    <a class="forgotpass" href="#">Forget password?</a>
                </div>
                <button class="btn btn-primary">Sign in</button>

            </form>
            <div class="singup_box">
                <p>Not a Member</p>
                <a href="/user/signup"><button class="btn btn-primary">Sign up</button></a>
            </div>
        </div>
    </div>
</div>